<!-- views/partials/bottom-nav.ejs -->
<nav class="bottom-nav">
  <a href="/dashboard" class="nav-item" title="Account">
    <i class="fas fa-user"></i>
  </a>
  <a href="/" class="nav-item" title="Home">
    <i class="fas fa-home"></i>
  </a>
  <a href="/explore" class="nav-item" title="Explore">
    <i class="fas fa-compass"></i>
  </a>
  <a href="/tags" class="nav-item" title="Tags">
    <i class="fas fa-tags"></i>
  </a>
  <a href="#" class="nav-item" title="More">
    <i class="fas fa-ellipsis-h"></i>
  </a>
</nav>

