<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Account Banned</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1>🚫 Account Banned</h1>
    <p>Your account has been banned. Please contact support for more information.</p>
  </div>
</body>
</html>
