---
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CardVerse Blog</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans&display=swap" rel="stylesheet" />
  </head>
  <body>
    <main style="max-width: 800px; margin: 0 auto; padding: 2rem;">
      <slot />
    </main>
  </body>
</html>
