---
import { getCollection, getEntry } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Layout from '@/layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map(post => ({
    params: { slug: post.slug }
  }));
}

const { slug } = Astro.params;
const post = await getEntry('posts', slug) as CollectionEntry<'posts'>;

if (!post) {
  throw new Error('404');
}

const { Content } = await post.render();
---

<Layout>
  <article>
    <h1>{post.data.title}</h1>
    <p><em>Published on {new Date(post.data.pubDate).toLocaleDateString()}</em></p>
    <Content />
  </article>
</Layout>
